
	#friend{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#lexa{
		display: none;
	}

	#misha{
		display: none;
	}

	#pasha{
		display: none;
	}

	#igor{
		display: none;
	}

	#anton{
		display: none;
	}
	
	#olya{
		display: none;
	}
